<div *ngIf="notExist">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Nenhuma empresa cadastrada</h4>
    <p>No momento não há nenhuma empresa cadastrada no CANDI. Volte outra hora.</p>
    <hr>
    <p class="mb-0">CANDI</p>
  </div>
</div>
<div class="container-sm mb-3 pt-3 ms-lg-auto pe-lg-5">
  <div class="text- text-dark h3 pt-3"> Empresas </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div *ngFor="let empresa of empresas">
      <div class="col pt-3 mb-5">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <div aria-hidden="true">
              <h2 class="card-header" style="background-color: black; color: aliceblue">{{empresa.nome}}</h2>
              <h4 class="card-text ms-2">{{empresa.cidade}}, {{empresa.estado}}.</h4>
              <h3 class="card-text ms-2">CNPJ:</h3>
              <h4 class="card-text ms-2">{{empresa.cnpj}}</h4>
              <h3 class="card-text ms-2">Telefone:</h3>
              <h4 class="card-text ms-2">{{empresa.telefone}}</h4>
              <h4 class="card-text ms-2">{{empresa.email}}</h4>
              <h4 class="card-link ms-2 text-muted">{{ empresa.site }}</h4>
              <h4 class="card-text ms-2 text-muted">{{empresa.sobre}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
