<section class="container-fluid p-5">
  <section class="d-grid justify-content-center">
    <img src="assets/candi-logo.png" alt="Logo" class="rounded mx-auto d-block" width="60" height="60">
    <span class="h2 m-2 text-center">Entrar no Candi</span>
    <div class="card" style="width: 400px">
      <div class="card-header bg-body text-center border-0">
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <input type="text" class="form-control" formControlName="email" placeholder="Email">
          <div class="text-danger form-text"> {{ mensagem }} </div>
          <span *ngIf="email.errors?.['required'] && email.dirty" class="text-danger form-text">
            O email é obrigatório
          </span>
          <span *ngIf="email.errors?.['email'] && email.touched" class="text-danger form-text">
            O email precisa estar bem formatado
          </span>
          <span *ngIf="email.errors?.['minlength'] && email.touched" class="text-danger form-text">
            Mínimo de 8 caracteres
          </span>
          <span *ngIf="email.errors?.['maxlength'] && email.touched" class="text-danger form-text">
            Máximo de 30 caracteres
          </span>

          <input type="text" class="form-control mt-4" formControlName="senha" placeholder="Senha">
          <span *ngIf="senha.errors?.['required'] && senha.touched" class="text-danger form-text">
            Senha é obrigatória
          </span>
          <span *ngIf="senha.errors?.['minlength'] && senha.touched" class="text-danger form-text">
            Sua senha deve ter no mínimo 8 caracteres
          </span>
          <span *ngIf="senha.errors?.['maxlength'] && senha.touched" class="text-danger form-text">
            Sua senha deve ter no máximo 30 caracteres
          </span>

          <div class="d-grid mx-auto mt-3">
            <input type="submit" class="btn btn-dark" value="Entrar">
          </div>
        </form>
      </div>
    </div>
    <div class="card mt-3 text-center">
      <div class="card-body">
        Não tem uma conta? <a type="button" class="link-info" routerLink="/cadastrar">Crie agora.</a>
      </div>
    </div>
  </section>
</section>
