<div *ngIf="notExist">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Nenhuma candidatura encontrada</h4>
    <p>Faça a sua primeira agora mesmo. <a routerLink="visualizar/vagas"> Vagas aqui </a></p>
    <hr>
    <p class="mb-0">CANDI</p>
  </div>
</div>
<div class="container-sm mb-3 pt-3 ms-lg-auto pe-lg-5">
  <div class="text- text-dark h3 pt-3"> Suas candidaturas </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div *ngFor="let candidatura of candidaturas">
      <div class="col pt-3 mb-5">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <div aria-hidden="true">
              <h2 class="card-header" style="background-color: black; color: aliceblue">{{candidatura?.vaga?.nome}}</h2>
              <h4 class="card-text ms-2">{{candidatura?.status}}</h4>
              <h4 class="card-text ms-2"></h4>
            </div>
            <h4 class="card-footer card-link ms-2">Enviado em: {{candidatura.dataEnvio}}</h4>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-danger" (click)="deletarCandidatura(candidatura?.id)">Deletar candidaturas</button>
    </div>
  </div>
</div>

