<section class="container-fluid p-5">
  <div *ngIf="candidaturas">
    <h3 class="text-dark"> Suas candidaturas</h3>
    <div class="row">
      <div *ngFor="let candidatura of candidaturas">
        <div class="col">
          <div class="card" style="width: 100%">
            <div class="card-body">
              <div aria-hidden="true">
                <h2 class="card-header"
                    style="background-color: black; color: aliceblue">{{candidatura?.vaga?.nome}}</h2>
                <h4 class="card-text ms-2">{{candidatura?.candidato?.nome}} {{candidatura?.candidato?.sobrenome}}</h4>
                <h4 class="card-text ms-2">
                  {{candidatura?.candidato?.endereco?.estado}}, {{candidatura?.candidato?.endereco?.estado}}
                </h4>
                <h4 class="card-text ms-2">{{candidatura?.candidato?.sobre}}</h4>
                <h4 class="card-text ms-2"></h4>
              </div>
              <h4 class="card-footer card-link ms-2">Enviado em: {{candidatura.dataEnvio}}</h4>
            </div>
          </div>
          <a (click)="analisar(candidatura?.id)" class="btn btn-primary">Analisar</a>
        </div>
      </div>
    </div>
  </div>
</section>
