<div class="container-sm mb-5 pt-5 ms-lg-auto pe-lg-5">
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4">
          <span class="h1 fw-bold mb-0">Login</span>
        </div>
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
              <div class="card-body">
                <label for="inputEmail" class="form-label h5 pt-3">Email</label>
                <input type="text" class="form-control" formControlName="email" id="inputEmail" placeholder="Email"
                       aria-describedby="basic-addon">
                <div class="text-danger form-text"> {{ mensagem }} </div>
                <div *ngIf="email.errors?.['required'] && email.dirty" class="text-danger form-text">O email é
                  obrigatorio
                </div>
                <div *ngIf="email.errors?.['email'] && email.touched" class="text-danger form-text">O email precisa estar
                  bem
                  formatado
                </div>
                <div *ngIf="email.errors?.['minlength'] && email.touched" class="text-danger form-text">Mínimo de 8
                  caracteres
                </div>
                <div *ngIf="email.errors?.['maxlength'] && email.touched" class="text-danger form-text">Máximo de 30
                  caracteres
                </div>
                <label for="inputSenha" class="form-label h5 pt-2">Senha</label>
                <input type="password" class="form-control" formControlName="senha" id="inputSenha" placeholder="Senha">
                <div *ngIf="senha.errors?.['required'] && senha.touched" class="text-danger form-text">Senha é obrigatoria
                </div>
                <div *ngIf="senha.errors?.['minlength'] && senha.touched" class="text-danger form-text">Sua senha deve ter
                  no
                  mínimo 8 caracteres
                </div>
                <div *ngIf="senha.errors?.['maxlength'] && senha.touched" class="text-danger form-text">Sua senha deve ter
                  no
                  máximo 30
                  caracteres
                </div>
                <label class="form-label h6 pt-4 me-3 pe-4">Tipo</label>
                <div class="form-check-inline">
                  <input class="form-check-input" formControlName="tipo" name="tipo" type="radio"
                         id="radio" value="empresa">
                  <label class="form-check-label" for="radio">
                    Administrador
                  </label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" formControlName="tipo" name="tipo" type="radio" id="radio2"
                         value="usuario">
                  <label class="form-check-label" for="radio2">
                    Usuário
                  </label>
                </div>
                <div *ngIf="tipo.invalid && senha.touched" class="form-text text-danger">Escolha um tipo de login</div>
              </div>
              <input type="submit" class="btn btn-primary pt-sm-2" style="background-color: dodgerblue; border-color: dodgerblue" value="Login">
              <div class="text-black pt-5 me-5 h6">Não tem conta?</div>
              <button type="button" class="btn btn-sm btn-link" style="color: cornflowerblue" routerLink="/cadastrar">Registre-se</button>
            </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="assets/candibg/candibg.jpg"
             alt="Login image" class="w-50 vh-25" style="object-fit: contain; object-position: left; border-radius: 2px">
      </div>
    </div>
  </div>
</section>
</div>
