<form [formGroup]="usuarioForm" class="form-user" (ngSubmit)="onSubmit()">
  <h2>Usuário</h2>
  <div>
    <label for="nome">Nome: </label>
    <input id="nome" type="text" formControlName="nome">
    <label for="sobrenome">Sobrenome: </label>
    <input id="sobrenome" type="text" formControlName="sobrenome">
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    <label for="senha">Senha: </label>
    <input formControlName="senha" id="senha" type="password">
    <label for="sobre">Sobre: </label>
    <input id="sobre" type="text" formControlName="sobre">
  </div>
  <div formGroupName="endereco">
    <h2>Endereço</h2>
    <label for="cep">CEP: </label>
    <input formControlName="cep" id="cep" type="text">
    <label for="cidade">Cidade: </label>
    <input formControlName="cidade" id="cidade" type="text">
    <label for="estado">Estado: </label>
    <input formControlName="estado" id="estado" type="text">
  </div>
  <div formArrayName="atividades">
    <h2>Atividades</h2>
    <div *ngFor="let atividade of atividades.controls; index as i">
      <button id="removerAtividade" (click)="removeAtividade(i)">Remove</button>
      <div [formGroupName]="i">
        <label>Local: </label>
        <input formControlName="local" type="text" placeholder="Local">
        <label>Nome: </label>
        <input formControlName="nome" type="text" placeholder="Nome">
        <label>Sobre: </label>
        <input formControlName="sobre" type="text" placeholder="Sobre">
      </div>
    </div>
    <button type="button" (click)="addAtividade()">
      Adicionar mais atividades
    </button>
  </div>
  <div>
    <button id="reset" type="reset">Resetar</button>
    <button id="enviar" type="submit">Enviar</button>
  </div>
</form>
