<div class="container-sm mb-3 pt-3 ms-lg-auto pe-lg-5">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div *ngIf="user">
        <div class="text-black h3 pt-3">Perfil</div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label pt-2">Nome</label>
          <div class="text-black"> {{ user?.nome }} </div>
        </div>
        <div class="col">
          <label class="form-label pt-2">Sobrenome</label>
          <div class="text-black"> {{ user?.sobrenome }} </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label pt-2">Email</label>
          <div class="text-black"> {{ user?.email }} </div>
        </div>
      </div>
      <div class="col-auto">
        <label class="form-label pt-2">Sobre</label>
        <div class="text-black"> {{user?.sobre}} </div>

        <div class="text-black h4 pt-2">Endereço</div>
        <div class="form-text"> {{user?.endereco?.id}} </div>
        <div class="row-cols-3">
          <label class="form-label pt-2">CEP</label>
          <div class="text-black"> {{user?.endereco?.cep}} </div>
          <label class="form-label pt-2">Estado</label>
          <div class="text-black"> {{user?.endereco?.estado}}</div>
          <label class="form-label pt-2">Cidade</label>
          <div class="text-black"> {{user?.endereco?.cidade}} </div>
        </div>
      </div>

      <div class="text-black h4 pt-2">Contato</div>
      <div class="form-text"> {{user?.contato?.id}} </div>
      <div class="row-cols-3">
        <label class="form-label pt-2">Email</label>
        <div class="text-black"> {{user?.contato?.email}} </div>
        <label class="form-label pt-2">Telefone</label>
        <div class="text-black">{{user?.contato?.telefone}}</div>
        <label class="form-label pt-2">Site</label>
        <div class="text-black"> {{user?.contato?.site}} </div>
      </div>
    </div>

    <div class="d-grid gap-2">
      <button type="button" class="btn btn-outline-danger" (click)="deletar()">Deletar conta</button>
      <button type="button" class="btn btn-dark" (click)="candidaturas()">Ver suas candidaturas</button>
    </div>
  </div>
</div>


