<footer class="footer container-fluid p-3">
  <hr>
  <div class="d-inline-block p-4">
    <a routerLink="">
      <img src="assets/candi-logo.png" width="26" height="26" alt="candi-logo">
    </a>
    <div class="d-inline text-muted" style="font-size: 12px">
      Candi, 2022
    </div>
  </div>
  <div class="d-inline-block float-end p-4">
      <a class="link-dark me-3" routerLink="">Home</a>
      <a class="link-dark me-3" *ngIf="!isAuth()" routerLink="login">Login</a>
      <a class="link-dark me-3" *ngIf="!isAuth()" routerLink="cadastrar">Cadastrar</a>
      <a class="link-dark me-3" *ngIf="isAuth()" routerLink="perfil">Perfil</a>
  </div>
</footer>
