<div class="container-sm mb-5 pt-5 ms-lg-auto pe-lg-5">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/candibackground.jpg" alt="CandiBG" />
      </div>
      <div class="carousel-caption">
        <h3>Faça parte da CANDI</h3>
        <p>Começe agora a gerênciar suas contratações.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/candibackground.jpg" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Mais de 100 empresas</h3>
        <p>A plataforma CANDI já conta com mais de 100 empresas revolucionando a forma de contratação.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/candibackground.jpg" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Quem faz a CANDI</h3>
        <p>Descubra os principais autores por trás da plataforma!</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
